<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{isNew ? 'Nuevo' : 'Editar'}} Medico </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/medicos-list"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button id="present-alert" *ngIf="!isNew" fill="solid" (click)="eliminarMedicos()" color="danger">
        Eliminar
      </ion-button>
    </ion-buttons>
    <ion-alert
      trigger="present-alert"
      header="Seguro deseas eliminar?"
      [buttons]="alertButtons"
      (didDismiss)="dismissed($event)"
    ></ion-alert>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="ID" [(ngModel)]="id" readonly="true" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Codigo:</ion-label>
      <ion-input required #codigoInput="ngModel" [(ngModel)]="medicos.codigo" type="number"></ion-input>
    </ion-item>
      <div class="error-message">
        <ion-text *ngIf="codigoInput?.invalid && codigoInput?.touched" color="danger">
          <p *ngIf="codigoInput?.errors?.['required']">Este campo es obligatorio</p>
        </ion-text>
      </div>

    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input required #nombreInput="ngModel" [(ngModel)]="medicos.nombre" type="text"></ion-input>
    </ion-item>
    <div class="error-message">
      <ion-text *ngIf="nombreInput?.invalid && nombreInput?.touched" color="danger">
        <p *ngIf="nombreInput?.errors?.['required']">Este campo es obligatorio</p>
      </ion-text>
    </div>

    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-input required #apellidoInput="ngModel" type="text" [(ngModel)]="medicos.apellido"></ion-input>
    </ion-item>
    <div class="error-message">
      <ion-text *ngIf="apellidoInput?.invalid && apellidoInput?.touched" color="danger">
        <p *ngIf="apellidoInput?.errors?.['required']">Este campo es obligatorio</p>
      </ion-text>
    </div>

    <ion-item>
      <ion-label>Especialidad:</ion-label>
      <ion-input required #EspecialidadInput="ngModel" type="text" [(ngModel)]="medicos.especialidad"></ion-input>
    </ion-item>
    <div class="error-message">
      <ion-text *ngIf="EspecialidadInput?.invalid && EspecialidadInput?.touched" color="danger">
        <p *ngIf="EspecialidadInput?.errors?.['required']">Este campo es obligatorio</p>
      </ion-text>
    </div>

    <ion-item>
      <ion-label>Salario:</ion-label>
      <ion-input required #salarioInput="ngModel" type="number" [(ngModel)]="medicos.salario" pattern="[1-5]"></ion-input>
    </ion-item>
    <div class="error-message">
      <ion-text *ngIf="salarioInput.invalid && salarioInput.touched" color="danger">
        <p *ngIf="salarioInput?.errors?.['required']">Este campo es obligatorio</p>
        <p *ngIf="salarioInput?.errors?.['pattern']">El valor debe ser entre 1 y 5</p>
      </ion-text>
    </div>

  </ion-list>

  <ion-button fill="solid" (click)="guardarMedicos()" color="success" class="ion-margin-top ion-margin-bottom ion-margin-horizontal">
    Guardar
  </ion-button>
</ion-content>
